<h1><%= @balado.titre %></h1>

<% unless @latest_episode.nil? %>
  <h5><%= @latest_episode.titre %></h5>
  <p><%= @latest_episode.short_description %></p>

  <% unless @other_episodes.empty? %>
    <h3 class="text-decoration-underline mb-3">Tous les épisodes</h3>
    <% @other_episodes.each do |episode| %>
      <h5><%= episode.titre %></h5>
    <% end %>
  <% end %>
<% end %>
