<%= render 'admin/shared/page_header', titre: @emission.nom %>

<h2><%= t 'admin.diffusions.title' %></h2>

<% @emission.diffusions.each do |diffusion| %>
  <%= render 'admin/emissions/diffusion', diffusion: diffusion %>
<% end %>

<%= render 'admin/shared/create_item_button', btn_label: t('admin.diffusions.create_diffusion_btn'), btn_path: new_admin_emission_diffusion_path(@emission) %>
