<h1><%= emission.nom %></h1>

<h2><%= t 'admin.diffusions.title' %></h2>

<% emission.diffusions.each do |diffusion| %>
  <%= render 'admin/emissions/diffusion', diffusion: diffusion %>
<% end %>

<%= link_to t('admin.diffusions.create_diffusion_btn'), new_admin_emission_diffusion_path(emission), class: 'btn btn-primary' %>
