<%= render 'admin/shared/page_header', titre: t('admin.nav.tags') %>

<%= render 'admin/shared/create_item_button', btn_label: t('admin.tags.create_tag_btn'), btn_path: new_admin_tag_path %>

<ul>
<% @tags.each do |tags| %>
  <li><%= tags.nom %></li>
<% end %>
</ul>
