<h1>Utilisateurs actifs :</h1>

<% @user.each do |user| %>
  <div class="card">
    <div class="card-body">
      <p class="float-end">
        <%= link_to bootstrap_icon(:pencil), edit_admin_user_path(user)%>
        <%= link_to bootstrap_icon(:trash), admin_user_path(user), data: { turbo_method: :delete, turbo_confirm: t('admin.user.form.error_succes')} %>
      <h3><%= user.email %></h3>
      </p>
    </div>
  </div>

<% end %>
